# Arrow function
snippet funa "Arrow function" i
(${1}) => {
	${2}
}
endsnippet

# react native stylesheet
snippet rnstyle "React native style boilerplate"
const styles = StyleSheet.create({
	$1
});

endsnippet
