# Arrow function
snippet funa "Arrow function" i
(${1}) => {
	${2}
}
endsnippet

# react native stylesheet
snippet stylern "React native style boilerplate"
const styles = StyleSheet.create({
	$1
});
endsnippet

# console.log
snippet p "print()" b
console.log(${1:})
endsnippet
